.head {
    width: 100%;
    width: 500px;
    margin: auto;
    padding: 5px;
    text-align: center;
}
.after-head{
    width: 100%;
    min-width: 500px;
    max-width: 500px;
    text-align: right;
    margin: auto;
    padding-right: 10px;
}